/*header {
  font-size: 100px
  background-color: rgba(5,4,2,0.1);
  margin-left:auto;
  padding: 1px; }
}*/



body {
  font: helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  border: 15px dotted #EF2EF9;
  color: #63FBF4;
  background-image:  url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/3ac5b424607907.5633711d47ccf.jpg");
  padding: 300px;
  padding-top: 135px;
  background-color: rgb(255,255,255);
}

h1 {
  font-family: Lucinda Console, sans-serif;
  font-size: 65px;
  letter-spacing: 35px;
  margin-top: 15px;
}
h2 {
  font-family: Lucinda Console, sans-serif;
  font-size: 40px;
  letter-spacing: 15px;
  margin-top: 15px;
}
p {
  padding-left: 100px;
  padding-right: 100px;
  font-color:
}

footer {
  padding-bottom: 5px;
}
